defmodule <%= module_name %> do
  @moduledoc """
  <%= docs %>
  """
  use Surface.Component
  alias Heroicons.Helpers

  prop size, :string, values: ~w(small normal large), default: "normal"
  prop display, :string, values: ~w(inline block), default: "inline"
  prop name, :string, values: ~w(<%= all_names %>), required: true
  prop class, :css_class, default: []
  prop opts, :keyword, default: []

  <%= all_render_functions %>

end