defmodule <%= module_name %> do
  @moduledoc """
  <%= docs %>
  """
  use Surface.Component

  prop name, :string, values: ~w(<%= all_names %>), required: true
  prop class, :css_class, default: <%= default_class %>
  prop opts, :keyword, default: []

  <%= all_render_functions %>

end